@model Student_Mgmt_System_MVC.Models.Course_details

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Course_details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course_duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course_duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.course_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
